libprojekt.a
compile
evaluate
simulate
tabgen
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile
adoc/*
harmosc1/apsi.dat
harmosc1/corr.dat
harmosc1/corr.pdf
harmosc1/dftcorr.dat
harmosc1/init.pdf
harmosc1/pot.dat
harmosc1/spectrum.dat
harmosc1/spektrum.pdf
harmosc1/stats
harmosc1/theoenrg.dat
harmosca/apsi.dat
harmosca/corr.dat
harmosca/corr.pdf
harmosca/dftcorr.dat
harmosca/init.pdf
harmosca/pot.dat
harmosca/spectrum.dat
harmosca/spektrum.pdf
harmosca/stats
harmosca/theoenrg.dat
simple/apsi.dat
simple/corr.dat
simple/corr.pdf
simple/dftcorr.dat
simple/init.pdf
simple/pot.dat
simple/spectrum.dat
simple/spektrum.pdf
simple/stats
simple/theoenrg.dat
square/apsi.dat
square/corr.dat
square/corr.pdf
square/dftcorr.dat
square/init.pdf
square/pot.dat
square/spectrum.dat
square/spektrum.pdf
square/stats
square/theoenrg.dat
square1/apsi.dat
square1/corr.dat
square1/corr.pdf
square1/dftcorr.dat
square1/init.pdf
square1/pot.dat
square1/spectrum.dat
square1/spektrum.pdf
square1/stats
square1/theoenrg.dat

