libprojekt.a
compile
evaluate
simulate
tabgen
testpeaks
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile
adoc/*
harmosca/apsi.dat
harmosca/corr.dat
harmosca/corr.pdf
harmosca/dftcorr.dat
harmosca/init.pdf
harmosca/pot.dat
harmosca/spectrum.dat
harmosca/spektrum.pdf
harmosca/stats
harmosca/numen.dat
harmosca/spectrum.tex.inc

simple/apsi.dat
simple/corr.dat
simple/corr.pdf
simple/dftcorr.dat
simple/init.pdf
simple/pot.dat
simple/spectrum.dat
simple/spektrum.pdf
simple/stats
simple/numen.dat
simple/spectrum.tex.inc

square/apsi.dat
square/corr.dat
square/corr.pdf
square/dftcorr.dat
square/init.pdf
square/pot.dat
square/spectrum.dat
square/spektrum.pdf
square/stats
square/numen.dat
square/spectrum.tex.inc

square1/apsi.dat
square1/corr.dat
square1/corr.pdf
square1/dftcorr.dat
square1/init.pdf
square1/pot.dat
square1/spectrum.dat
square1/spektrum.pdf
square1/stats
square1/numen.dat
square1/spectrum.tex.inc

badness/apsi.dat
badness/corr.dat
badness/corr.pdf
badness/dftcorr.dat
badness/init.pdf
badness/pot.dat
badness/spectrum.dat
badness/spektrum.pdf
badness/stats
badness/numen.dat
badness/spectrum.tex.inc


