libprojekt.a
compile
evaluate
simulate
tabgen
testpeaks
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile
adoc/*

data/*/apsi.dat
data/*/corr.dat
data/*/corr.pdf
data/*/dftcorr.dat
data/*/init.pdf
data/*/pot.dat
data/*/spectrum.dat
data/*/spektrum.pdf
data/*/stats
data/*/numen.dat
data/*/splen.dat
data/*/aken.dat
data/*/spectrum.tex.inc
data/*/ccsen.dat


